<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Maintenance</h1>
    <p>We need to redo the code</p>
  </body>
</html>
